<app-header></app-header>
<div class="dash-container">
    <div class="dash-all">
        <div class="select-l">
            <div class="top">
                <h4>Processes</h4>
                <div class="view-all">All Processes</div>
            </div>
        </div>
        
        <!-- asdasd -->
        <!-- *ngFor="let process of Processes" -->

        <div class="process-t">
          <div class="process-p">
            <div class="pdetails">
                <!-- <div class="id">{{process}}</div> -->
                <div class="id"></div>
                <div class="pname"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="selected">

    </div>
</div>